<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Player Dashboard</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-spinner *ngIf="players.length ===0 " [diameter]="100"></mat-spinner>

    <mat-nav-list>
      <mat-list-item *ngFor="let playerId of players">
        <mat-icon matListIcon>person</mat-icon>
        <p matLine>
          <span> {{playerId}} </span>

        </p>
      </mat-list-item>
    </mat-nav-list>


  </mat-card-content>
</mat-card>

