.container{
  background-color: white;
}
.magic{
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.access{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.box{
  box-shadow: none;
}

.log{
  color: white;
  background-color: #4be44b;
  margin-top: 20px;
  margin-right:10px;
  width:7%;
  font-size: medium;
}

mat-icon{
  font-size: 30px;
  font-weight: bolder;
}
.material-icons {
  display: inline-flex;
  vertical-align: middle;
}
.center {
  text-align: center;
}

.toast-success {
  padding-left: 80px;
  text-align: center;
  background-position: 35% !important;
}
