.container{
  background-color: white;
}
mat-icon{
  font-size:30px;
  font-weight: bolder;
}
.magic{
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.access{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.success{
  color: white;
}
mat-card{
  background-color: lightgray;
  color: deepskyblue;
  width: 20%;
  border-radius: 20px;
  height: 150px;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  word-break: keep-all;
  font-weight: bolder;

}
