.circle{
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  position: relative;
}
.circle .circle-icon{
  width: 20px;
  height: 20px;
  background: yellow;
  position: absolute;
}
.div .player{
  width: 50px;
  height: 50px;
  background: #b0b0b0;
  border-radius: 50%;
  cursor: move;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}
#parentdiv {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 150px;
  margin: 60px;
}
​
.div2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #b0b0b0;
  border-radius: 100px;
  cursor: pointer;
}
.div2.selected {
  background: #706f6f;
}
.div2 .number{
  font-size: 18px;
  font-weight: bold;
}
.div2 .fire-icon {
  width: 24px;
}
.timer {
  position: absolute;
  top: -30px;
}
.counting-balls{
  background: #8fd150;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 .5px 0 .5px;
}
.counting-balls-wrapper{
  position: absolute;
  top: -20px;
}
​
  /*Page*/
.title {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.title .t1{
  font-size: 60px;
}
.timer-btn{
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top: -6px;
  font-size: 32px;
}
.timer-btn mat-icon{
  font-size: 32px;
}
.estimate {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.team {
  text-align: center;
  font-family: Calibri;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}
.main-section{
  position: relative;
}
.timer-side{
  position: absolute;
  left: 0;
}
.magic{
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 40px;
}
table {
  width: 100%;
}
mat-icon{
  font-size: 20pxpx
}
.circle{
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  position: relative;
}
.circle .circle-icon{
  width: 20px;
  height: 20px;
  background: yellow;
  position: absolute;
}
#parentdiv {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 150px;
  margin: 60px;
}
​
.div2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #b0b0b0;
  border-radius: 100px;
  cursor: pointer;
}
.div2.selected {
  background: #706f6f;
}
.div2 .number{
  font-size: 18px;
  font-weight: bold;
}
.div2 .fire-icon {
  width: 24px;
}
.timer {
  position: absolute;
  top: -30px;
}
.counting-balls{
  background: #8fd150;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 .5px 0 .5px;
}
.counting-balls-wrapper{
  position: absolute;
  top: -20px;
}
​
  /*Page*/
.title {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.title .t1{
  font-size: 60px;
}
.timer-btn{
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top: -6px;
  font-size: 32px;
}
.timer-btn mat-icon{
  font-size: 32px;
}
.estimate {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.team {
  text-align: center;
  font-family: Calibri;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}
.main-section{
  position: relative;
}
.timer-side{
  position: absolute;
  left: 0;
}
.magic{
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 40px;
}
table {
  width: 100%;
}
mat-icon{
  font-size: 20px
}
.row{
  margin-right: 50%;
}

/*After adding boundry box*/
.boundary .player {
  width: 50px;
  height: 50px;
  background: #b0b0b0;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.boundary {
  width: 400px;
  height: 400px;
  max-width: 100%;
}
.title{
  font-size: 18px;
  margin-bottom: 20px;
}
.player .name {
  display: none;
  position:absolute;
  top: -15px;
  font-size: 12px
}
.player:hover .name {
  display: block;
}
.player .fire-icon {
  width: 20px;
}
.ball-icon{
  width: 30px;
  position: absolute;
  left: -12px;
  bottom: -12px;
}
.img-ball{
  width: 30px;
}
