<h2 mat-dialog-title>Search Player</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field class="example-full-width">
    <mat-label>Enter player name</mat-label>

    <mat-label>Number</mat-label>
    <input type="text" (keyup)=searchPlayer($event)
           aria-label="Number"
           matInput
           [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option (click)="addplayer(player)" *ngFor=" let player of players">{{player.firstName}}</mat-option>
    </mat-autocomplete>
  </mat-form-field>


  <ul class="list-group">
    <h2>Added Players</h2>
    <li *ngFor="let player of playerAdded" class="list-group-item" class="list">
      {{player}}
    </li>
  </ul>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Done</button>
</mat-dialog-actions>
