<div fxLayout="row" fxLayoutAlign="center center">
<div  fxLayout="column" fxFlex="80">
  <div fxlayout="row" fxLayoutAlign="center center">
    <mat-card class="example-container" fxFlex="40" >
      <mat-card-header>
        <mat-card-title>Game Code</mat-card-title>
      </mat-card-header>
      <p>
        <mat-toolbar>
          <span>{{gameCode}}</span>
        </mat-toolbar>
      </p>
      <button  *ngIf="players.length != 0 " [disabled]="gameStarted" mat-raised-button (click)="startGame()" color="primary">Start Game</button>
    </mat-card>
  </div>

<div fxlayout="row" fxLayoutAlign="center center">
`<mat-card class="example-card" fxFlex="40">
  <mat-card-header>
    <mat-card-title>Players View</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-spinner *ngIf="players.length === 0" [diameter]="100"></mat-spinner>


    <div fxLayout="row wrap" class="flex">
      <div *ngFor="let player of players"  fxFlex="30%">
          <div fxLayout="column" fxLayoutAlign="center">
            <div>
              <mat-icon *ngIf="player.status" matListIcon>sports_soccer</mat-icon>
            </div>
            <div><mat-icon >person</mat-icon></div>
            <div>{{player.name}}</div>
          </div>
      </div>
    </div>
  </mat-card-content>

</mat-card>

</div>
</div>
