<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Game Dashboard</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-label>Game Code</mat-label>
        <p>
          <mat-toolbar>
            <span>{{gameCode}}</span>
          </mat-toolbar>
        </p>
    <mat-spinner *ngIf="players.length === 0" [diameter]="100"></mat-spinner>
    <mat-nav-list>
      <mat-list-item *ngFor="let player of players">
        <mat-icon *ngIf="player.status" matListIcon>sports_soccer</mat-icon>
        <p matLine>
          <span> {{player.playerId}} </span>
        </p>
      </mat-list-item>
    </mat-nav-list>
  </mat-card-content>
  <mat-card-actions>
    <button [disabled]="gameStarted" mat-raised-button (click)="startGame()" color="primary">Start Game</button>
  </mat-card-actions>

</mat-card>

