<div class="container" fxLayout="column" fxFlex="100">
  <app-header></app-header>
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="98" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center">
      <p class="team">How many Fire <br> balls can the<br> team make</p>
    </div>
    <div fxLayout="column" fxFlex="98" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <p class="team">Who is your Arch <br>Wizard</p>
    </div>
  </div>
  <form class="example-form">
    <div fxLayout="row" fxFlex="100">
      <div fxFlex="70" fxFlex.xs="50" fxFlex.md="10" fxFlex.sm="20" fxLayoutAlign="center center">
        <p class="Estimate">Estimate:</p>
        <mat-form-field>
          <input  [disabled]=true  matInput type="number" class="mat-form" min="1" max="30">
        </mat-form-field>
      </div>
      <div fxFlex="70" fxFlex.xs="50" fxFlex.md="10" fxFlex.sm="20" fxLayoutAlign="center center" >
        <mat-form-field appearance="fill">
          <mat-label>Fire By</mat-label>
          <mat-select [disabled]=true>
            <mat-option value="1">1</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div fxLayout="row" fxFlex="50" fxFlex.xs="70" fxLayoutAlign="center end">
    <div fxLayout="column" fxFlex="9" fxFlex.xs="20" fxLayoutAlign="center center">
      <button  class="next" mat-raised-button>Next Round</button>
    </div>
  </div>

</div>
