<div class="container" fxLayout="column" fxFlex="100">
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div fxLayout="column" fxFlex="20" fxFlex.md="20">
      <h1 class="magic">Fire Ball</h1>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.md="50" fxLayoutAlign="center center">
      <h1 class="estimate" *ngIf="game">Round {{game.currentRound}}</h1>
    </div>
    <div fxLayout="column" fxFlex="30" fxFlex.md="30" fxLayoutAlign="center center">
      <h1>
        <mat-icon>visibility</mat-icon>
        Statistics
      </h1>
    </div>
  </div>
  <div class="main-section" fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="90" style="padding-left:1% ">
      <div class="main-section" fxLayout="row" fxFlex="100">
        <div fxLayout="column">
          <p>
            <mat-icon style="font-size: 20px">visibility</mat-icon>
            The Rules
          </p>
        </div>
      </div>
      <div class="main-section" fxLayout="row" fxFlex="100">
        <div fxLayout="column">
          <p style="margin: 0px">
            <mat-icon style="font-size: 20px">arrow_right</mat-icon>
            Process starts and ends<br>with ArchWizard
          </p>
        </div>
      </div>
      <div class="main-section" fxLayout="row" fxFlex="100">
        <div fxLayout="column">
          <p>
            <mat-icon>lens</mat-icon>
            The ArchWizard Selection is <br><u>permanent</u></p>
        </div>
      </div>
      <div class="main-section" fxLayout="row" fxFlex="100">
        <div fxLayout="column">
          <p>
            <mat-icon>arrow_right</mat-icon>
            Each Wizard must touch<br>the ball for it to become a<br>magic ball
          </p>
        </div>
      </div>
      <div class="main-section" fxLayout="row">
        <div fxLayout="column">
          <p>
            <mat-icon>error</mat-icon>
            Ball may not flow to the<br>neighbor in<br>the wizarding circle!
          </p>
        </div>
      </div>
      <div class="main-section" fxLayout="row">
        <div fxLayout="column">
          <p>
            <mat-icon>error</mat-icon>
            Ball position must be<br>on the 2 lines
          </p>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxLayoutAlign="center center" *ngIf="show && game">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
      <div id="parentdiv" #parentDiv class="player">
        <div fxFlex="100" fxLayoutAlign="center center" class="div2 "
             *ngFor="let item of game.rounds[game.currentRound - 1].arrangement; let i = index"
             style="position: absolute; bottom: {{getChildTopValue(i)}}; left: {{getChildLeftValue(i)}}">
          <div *ngIf="game.rounds[game.currentRound - 1].currentBallHolder == item.id" class="ball-icon">
            <img class="img-ball" src="assets/icons/ball.png" >
            <div class="ball-icon">{{game.rounds[game.currentRound - 1].batchFlow}}<span>Bb</span></div>
          </div>
          <div class="counting-balls-wrapper" *ngIf="game.timeKeeper && game.scoreKeeper == item.id">
            <div fxLayout="row">
              <div class="counting-balls"></div>
              <div class="counting-balls"></div>
              <div class="counting-balls"></div>
            </div>
          </div>
          <div class="name" *ngIf="item.user">{{item.user.firstName + ' ' + item.user.lastName}}</div>
          <div>
            <div *ngIf="game.archWizard != item.id">{{item.incrementalId}}</div>
            <div *ngIf="game.archWizard == item.id">
              <img class="fire-icon" src="assets/icons/fire.png">
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.sm="100" fxFlex.md="100" fxLayoutAlign="center center"
         *ngIf="game && !show">
      <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
        <div #boundry class="boundary">
          <div [cdkDragDisabled]="true" [cdkDragFreeDragPosition]="item.position" class="player"
               *ngFor="let item of game.rounds[game.currentRound - 1].arrangement;let i = index"
               cdkDragBoundary=".boundary" cdkDrag>
            <div class="name" *ngIf="item.user">
              {{item.user.firstName + ' ' + item.user.lastName}}
            </div>
            <div *ngIf="game.rounds[game.currentRound - 1].currentBallHolder == item.id">
              <img class="ball-icon" src="assets/icons/ball.png">
            </div>
            <div class="counting-balls-wrapper" *ngIf="game.scoreKeeper && game.scoreKeeper == item.id">
              <div fxLayout="row">
                <div class="counting-balls"></div>
                <div class="counting-balls"></div>
                <div class="counting-balls"></div>
              </div>
            </div>
            <div class="name" *ngIf="item.user">{{item.user.firstName + ' ' + item.user.lastName}}</div>
            <div>
              <div *ngIf="game.archWizard != item.id">{{item.incrementalId}}</div>
              <div *ngIf="game.archWizard == item.id">
                <img class="fire-icon" src="assets/icons/fire.png">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="30" fxFlex.sm="100" fxFlex.md="100" fxLayoutAlign="">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


        <ng-container matColumnDef="currentRound">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Round.</th>
          <td mat-cell *matCellDef="let element; let i = index;"> {{i + 1}} </td>
        </ng-container>


        <ng-container matColumnDef="ballsEstimate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Estimate</th>
          <td mat-cell *matCellDef="let element"> {{element.ballsEstimate}} </td>
        </ng-container>


        <ng-container matColumnDef="ballsMade">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Actual</th>
          <td mat-cell *matCellDef="let element"> {{element.ballsMade}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>

  <div class="main-section" fxLayout="row" fxFlex="100" style="margin-top: 100px">
    <div fxLayout="column" fxFlex="90" fxFlex.sm="98" fxFlex.md="90" fxLayoutAlign="center center">
      <button (click)="endRound()" mat-raised-button color="primary">End Round</button>
    </div>
  </div>
</div>

