.circle{
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  position: relative;
}
.circle .circle-icon{
  width: 20px;
  height: 20px;
  background: yellow;
  position: absolute;
}
#parentdiv {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 150px;
  margin: 60px;
}
.div2 {
  width: 50px;
  height: 50px;
  margin: 15px;
  background: #fff;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
  0 2px 2px 0 rgba(0, 0, 0, 0.14),
  0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.div2 .number{
  font-size: 18px;
  font-weight: bold;
}
.div2 .fire-icon {
  width: 20px;
}
.timer {
  position: absolute;
  top: -30px;
}
.counting-balls{
  background: #8fd150;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 .5px 0 .5px;
}
.counting-balls-wrapper{
  position: absolute;
  top: -20px;
}
​
  /*Page*/
.title {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.title .t1{
  font-size: 60px;
}
.timer-btn{
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top: -6px;
  font-size: 32px;
}
.timer-btn mat-icon{
  font-size: 32px;
}
.estimate {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.team {
  text-align: center;
  font-family: Calibri;
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
}
.main-section{
  position: relative;
}
.timer-side{
  position: absolute;
  left: 0;
}
.magic{
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 40px;
}
table {
  width: 100%;
}
mat-icon{
  font-size: 20px;
}
.ball-icon{
  width: 30px;
  position: absolute;
  left: -12px;
  bottom: -12px;
}
.div2 .name {
  display: none;
  position:absolute;
  top: -15px;
  font-size: 12px
}
.div2:hover .name {
  display: block;
}
.div2:hover .counting-balls-wrapper, .div2:hover .timer{
  display: none;
}

