<app-planning *ngIf="status == 'plan'"></app-planning>
<app-estimate *ngIf="status == 'estimate'"></app-estimate>
<app-goodround *ngIf="status == 'goodround'"></app-goodround>
<app-playgame [game1]= game *ngIf="status == 'playing'"></app-playgame>
<app-readyadd *ngIf="status == 'ready'"></app-readyadd>
<app-gameresult [gameCode] = gameCode *ngIf="status == 'gameEnd'"></app-gameresult>
<app-waiting [game] = game *ngIf="status == 'waiting'"></app-waiting>
<app-resultround [game] =game *ngIf="status == 'end'"></app-resultround>
<app-gamenotfound *ngIf="status== 'notFound'"></app-gamenotfound>
