<div class="root" fxLayout="column" fxFlex="100">
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space-between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">

    <div>
      <h1 class="magic">Magic Balls</h1>
    </div>
    <div fxLayout="row">
      <button class="menu" mat-icon-button color="none" aria-label="Example icon button with a menu icon">
        <mat-icon>login</mat-icon>
      </button>
      <button class="menu" mat-icon-button color="none" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="80" fxLayoutAlign="center">
    <h1 class="access" fxLayout="column" style="text-align: center">
      <div>Update Your</div>
      <div>Profile</div>
    </h1>
  </div>
  <div class="payment" fxLayout="column" fxFlex="100" fxLayoutAlign="right end">
    <mat-card class="box">
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="New Password?">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="text" placeholder="Payment Details">
        </mat-form-field>
      </div>
    </mat-card>
  </div>
  <form class="example-form" [formGroup]="updateUserForm">
    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">
      <mat-card class="box" fxFlex="40">
        <div>
          <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="First Name" formControlName="firstName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="Last Name" formControlName="lastName">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="Country" formControlName="country">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="City" formControlName="city">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field fxFlex="100">
            <input matInput type="text" placeholder="Occupation" formControlName="occupation">
          </mat-form-field>
        </div>
      </mat-card>
    </div>
  </form>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="left center">
    <button (click)="updateUser()" class="next" mat-raised-button [disabled]="!updateUserForm.valid">Submit</button>
  </div>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="right end">
    <button class="delete" mat-raised-button>Delete Profile</button>
  </div>
</div>
