
.root{
  background-color: white;
}
.magic{
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.access{
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.box{
  box-shadow: none;
}
.payment{
  box-shadow: none;
  margin-right: 80px;
}
.submit{
  background-color: deepskyblue;
  color: white;
  width:7%;
  font-weight: bold;
  margin-right: 160px;
}
.delete{
  width:15%;
  margin-right: 80px;
  background-color: #847e7e;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
