<div class="container" fxLayout="column" fxFlex="100" class="body">
  <app-header [tittle]="'round 4'"></app-header>
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="row" fxFlex="100">
      <div fxLayout="column" fxFlex="98" fxFlex.md="20" fxLayoutAlign="center center">
        <h1 class="boom">Boom!</h1>
      </div>
    </div>
    <div fxLayout="row" fxFlex="100">
      <div fxLayout="column" fxFlex="98" fxFlex.md="20" fxLayoutAlign="center center">
        <h1 class="boom">Boom!</h1>
      </div>
    </div>
    <div fxLayout="row" fxFlex="100">
      <div fxLayout="column" fxFlex="98" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center">
        <p class="ball-config">check your ball<br> config!</p>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="100">
    <div fxLayout="row" fxFlex="40" class="job">
      <div fxLayout="column" fxFlex="98" fxFlex.md="20" fxLayoutAlign="center center">
        <img class="equal" src="assets/icons/job.png">
      </div>
    </div>
    <div fxLayout="row" fxFlex="30">
      <div fxLayout="column" fxFlex="98" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center">
        <p class="team">Ball count<br> reduced to 1</p>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlex="50" fxFlex.xs="70" fxLayoutAlign="center end">
    <div fxLayout="column" fxFlex="9" fxFlex.xs="20" fxLayoutAlign="center center">
      <button class="next" mat-raised-button>Next Round</button>
    </div>
  </div>

</div>
