.circle{
  width: 200px;
  height: 200px;
  background: red;
  border-radius: 50%;
  position: relative;
}
.circle .circle-icon{
  width: 20px;
  height: 20px;
  background: yellow;
  position: absolute;
}
#parentdiv {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 150px;
  margin: 60px;
}
​
.div2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #b0b0b0;
  border-radius: 100px;
  cursor: pointer;
}
.div2.selected {
  background: #706f6f;
}
.div2 .number{
  font-size: 18px;
  font-weight: bold;
}
.div2 .fire-icon {
  width: 24px;
}
.timer {
  position: absolute;
  top: -30px;
}
.counting-balls{
  background: #8fd150;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 .5px 0 .5px;
}
.counting-balls-wrapper{
  position: absolute;
  top: -20px;
}
​
  /*Page*/
.title {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
.title .t1{
  font-size: 60px;
}
.timer-btn{
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  top: -6px;
  font-size: 32px;
}
.timer-btn mat-icon{
  font-size: 32px;
}
.main-section{
  position: relative;
}
.timer-side{
  position: absolute;
  left: 0;
}
