<div>
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div fxLayout="column" fxFlex="20" fxFlex.md="40">
      <h1 class="magic">Fire Ball</h1>
    </div>
    <div fxLayout="column" fxFlex="60" fxFlex.md="20" fxLayoutAlign="center center">
      <h1 class="estimate">Add Plan</h1>
      <div fxLayout="column" fxFlex="50" fxFlex.sm="10" fxFlex.xs="10" fxLayoutAlign="center center">
        <p *ngIf="game" class="para">Current Round<b>:{{game.currentRound}}/{{game.noOfRounds}}</b></p>
      </div>
    </div>
  </div>
</div>

<div class="title" fxLayout="row" fxLayoutAlign="center">
  <div class="t1">Arrange Players</div>
</div>
<div class="main-section" fxLayout="row">
  <div fxLayout="row" class="timer-side">
    <div class="">Timer</div>
    <div class="timer-btn">
      <mat-icon>visibility</mat-icon>
    </div>
  </div>
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" *ngIf="show && game">
    <div id="parentdiv" #parentDiv class="div">
      <div (click)="onSelectPlayer(item)" fxFlex="100" fxLayoutAlign="center center"  [ngClass]="{'selected': isPlayerSelected(item)}"
           *ngFor="let item of game.players; let i = index"
           style="position: absolute; bottom: {{getChildTopValue(i)}}; left: {{getChildLeftValue(i)}}" class="player">
        <span *ngIf="!icons" class="number">{{item.incrementalId}}</span>
      </div>
    </div>
  </div>
  <div fxLayout="column" fxFlex="100" fxLayoutAlign="center center" *ngIf="!show && game">
    <div #boundry class="boundary">
      <div [cdkDragFreeDragPosition]="item.position" (cdkDragEnded)="dragHandler($event,i)" class="player"
           *ngFor="let item of game.players;let i = index" cdkDragBoundary=".boundary" cdkDrag>
        <div class="name" *ngIf="item.user">{{item.user.firstName + ' ' + item.user.lastName}}</div>
        <div class="number">{{item.incrementalId}}</div>
      </div>
    </div>
  </div>
  <!--Next Button-->
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="m-t-40">
  <div>
    <button *ngIf="swapped.length === 2" (click)="swapPositions()" mat-raised-button color="accent">Swap positions</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="m-t-40">
  <div>
    <button (click)="addplan()" mat-raised-button color="primary">Add plan</button>
  </div>
</div>
