<div>
  <div class="title">Magic balls</div>
</div>
<div fxLayout="row" fxLayoutAlign="center">
  <div class="title t1">Planning</div>
</div>
<div class="main-section" fxLayout="row">
  <div fxLayout="row" class="timer-side">
    <div class="">Timer</div>
    <div class="timer-btn"><mat-icon>visibility</mat-icon></div>
  </div>
  <div  fxLayout="column" fxFlex="100" fxLayoutAlign="center center">
    <div id="parentdiv" #parentDiv>
      <div (click)="onSelectPlayer(item)" fxFlex="100" fxLayoutAlign="center center" class="div2 " [ngClass]="{'selected': isPlayerSelected(item)}"
           *ngFor="let item of list; let i = index"
           style="position: absolute; bottom: {{getChildTopValue(i)}}; left: {{getChildLeftValue(i)}}">
        <div class="counting-balls-wrapper" *ngIf="countingResponsible === i+1">
          <div fxLayout="row">
            <div class="counting-balls"></div>
            <div class="counting-balls"></div>
            <div class="counting-balls"></div>
          </div>
        </div>
        <div *ngIf="timekeeper === i+1" class="timer"><mat-icon>timer</mat-icon></div>
        <mat-icon *ngIf="icons && arch !== i+1">person</mat-icon>
        <span *ngIf="!icons && arch !== i+1" class="number">{{item.inc_id}}</span>
        <img *ngIf="arch === i+1" class="fire-icon" src="assets/icons/fire.svg">
      </div>
    </div>
    <div>
      <button *ngIf="swapped.length === 2" (click)="swapPositions()" mat-raised-button color="accent">Swap positions</button>
    </div>
  </div>
  <!--Next Button-->
</div>
​
<div fxLayout="row" fxLayoutAlign="center center" class="m-t-40">
  <div>
    <button mat-raised-button color="primary">Estimate</button>
  </div>
</div>
<div fxLayout="row" fxLayoutAlign="center center" class="m-t-40">
  <div>
    <button (click)="addplan()" mat-raised-button color="primary">add Plan</button>
  </div>
</div>
