<div class="container" fxLayout="column" fxFlex="100">
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div fxLayout="column" fxFlex="20" fxFlex.md="40">
      <h1 class="magic">Fire Ball</h1>
    </div>
  </div>
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="center center" class="soccer" >
    <div fxLayout="column" fxFlex="20" fxFlex.md="40" fxLayoutAlign="center center">
      <mat-icon>sports_soccer</mat-icon>s
    </div>
  </div>
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="center center">
    <div class="para" fxLayout="column" fxFlex="20" fxFlex.md="40" fxLayoutAlign="center center">
      waiting for <br> team to <br> join...
    </div>
  </div>

</div>
