<div class="container" fxLayout="column" fxFlex="100">
  <app-header  [tittle]="'ready?'"></app-header>
  <div  class="main-section row" fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="icon">error</mat-icon>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="check">check</mat-icon>
    </div>
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="icon" >error</mat-icon>
    </div>
  </div>
  <div class="main-section" fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <p class="team " >choose<br> your ball<br> position<br>Ball..</p>
    </div>
    <div fxLayout="column" fxFlex="50" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="mat">sports_baseball</mat-icon>
    </div>
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <p class="team" >Position<br> must be on<br> the 2 lines</p>
    </div>
  </div>
</div>
