<div class="container" fxLayout="column" fxFlex="100">
  <app-header  [tittle]="'ready?'"></app-header>
  <div  class="main-section row" fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="icon">error</mat-icon>
    </div>
    <div fxLayout="column" fxFlex="57" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="check">check</mat-icon>
    </div>
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <mat-icon class="icon" >error</mat-icon>
    </div>
  </div>
  <div class="main-section" fxLayout="row" fxFlex="100">
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <p class="team " >choose<br> your ball<br> position<br>Ball..</p>
    </div>
    <div class="column" fxLayout="column" fxFlex="57" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center">
       `<img class="equal" src="assets/icons/equal.png">
    </div>
    <div fxLayout="column" fxFlex="20" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center" >
      <p class="team" >Position<br> must be on<br> the 2 lines</p>`
    </div>
  </div>
</div>
