.team {
  background-color: lightgrey;
  text-align: center;
  font-family: Calibri;
  font-size: 30px;
  font-weight: bolder;
  margin: auto;
  padding: 20px;
  border-radius: 20px 20px 30px;
}
.mat{
  font-size: 56px;
  color: green;
}
.icon{
  font-size: 40px;
  color: red;
}
.check{
  font-size: 40px;
}
.row{
  margin-bottom: 2%;
}
