.magic {
  margin-left: 20px;
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 40px;
}
.estimate {
  font-family: 'Permanent Marker', cursive;
  font-weight: bolder;
  font-size: 50px;
}
