<div class="container" fxLayout="column" fxFlex="100">
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div fxLayout="column" fxFlex="20" fxFlex.md="40">
      <h1 class="magic">Fire Ball</h1>
    </div>
    <div fxLayout="column" fxFlex="60" fxFlex.md="20" fxLayoutAlign="center center">
      <h1 class="estimate">Ready?</h1>
      <div fxLayout="column" fxFlex="50" fxFlex.sm="10" fxFlex.xs="10" fxLayoutAlign="center center">
        <p class="para">Current Round<b>:{{currentRound}}/{{totalRounds}}</b></p>
      </div>
    </div>
  </div>
<!--  <div fxLayout="row" fxFlex="100">-->
<!--    <div fxLayout="column" fxFlex="98" fxFlex.sm="98" fxFlex.md="98" fxLayoutAlign="center center">-->
<!--      <p class="team">How many Fire <br> balls can the<br> team make</p>-->
<!--    </div>-->
<!--  </div>-->
  <form class="example-form" [formGroup]="readyForm">
    <div fxLayout="row" *ngIf="show"  fxLayoutAlign="center center" fxFlex="100">
      <div fxFlex="100" fxFlex.xs="50" fxFlex.md="100" fxFlex.sm="20" fxFlex.gt-xs="80" fxLayoutAlign="center center">
        <p class="Estimate">Batch Number:</p>
        <div fxLayout="column" fxFlex="15" fxFlex.md="19" fxFlex.sm="20" fxFlex.xs="20" fxLayoutAlign="center center">
          <mat-form-field>
            <input formControlName="batchNumber" matbutton type="number" class="mat-form" min="-1" max="30">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
  <div fxLayout="row" fxFlex="50" fxFlex.xs="70" fxLayoutAlign="center end">
    <div fxLayout="column" fxFlex="9" fxFlex.xs="20" fxLayoutAlign="center center">
      <button (click)="addReady()" class="next" mat-raised-button>Start Play</button>
    </div>
  </div>
</div>
