<div class="container" fxLayout="column" fxFlex="100">
  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div fxLayout="column" fxFlex="20" fxFlex.md="40">
      <h1 class="magic">Fire Ball</h1>
    </div>
    <div fxLayout="column" fxFlex="60" fxFlex.md="20" fxLayoutAlign="center center">
      <h1 class="estimate">Ready?</h1>
      <div fxLayout="column" fxFlex="50" fxFlex.sm="10" fxFlex.xs="10" fxLayoutAlign="center center">
        <p class="para">Current Round<b>:{{currentRound}}/{{totalRounds}}</b></p>
      </div>
    </div>
  </div>
  <form class="example-form" [formGroup]="readyForm">
    <div fxLayout="row" *ngIf="show" fxLayoutAlign="center center" fxFlex="100">
      <div fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="column" fxFlex="40" fxFlex.md="10" fxFlex.sm="20" fxFlex.xs="20" fxLayoutAlign="center center">
          <mat-form-field appearance="fill">
            <mat-label>Batch Number</mat-label>
            <mat-select formControlName="batchNumber" (ngModelChange)="onValueChanges($event)">
              <mat-option value="1">1</mat-option>
              <mat-option value="2">2</mat-option>
              <mat-option value="3">3</mat-option>
              <mat-option value="4">4</mat-option>
              <mat-option value="5">5</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div fxFlex="100" fxFlex.xs="50" fxFlex.md="100" fxFlex.sm="20" fxFlex.gt-xs="80" fxLayoutAlign="center center"  [attr.readonly]="selectedBalls">
        <div fxLayout="row" fxFlex="50" fxFlex.xs="70" fxLayoutAlign="center end">
          <div fxLayout="column" fxFlex="9" fxFlex.xs="20" fxLayoutAlign="center center">
            <div *ngFor="let ballArrangement of ballsArrangement; let i= index" fxFlex="100" fxLayout="row" fxFlex="50"
                 fxFlex.xs="70" fxLayoutAlign="center center">
              <div *ngFor=" let balls of ballArrangement; let j= index" fxFlex="50" fxLayout="column" fxFlex="9"
                   fxFlex.xs="20" fxLayoutAlign="center center" style="margin-left: 10%; margin-right: 10% " >
                <div (click)="(!batchCompleted ? onBallChange(i,j):false)" class="pointer">
                  <mat-icon *ngIf="balls === -1" class="redBall" >circle</mat-icon>
                </div>
                <div (click)="(!batchCompleted ? onBallChange(i,j):false)" class="pointer">
                  <mat-icon *ngIf="balls === 1"class="greenBall">circle</mat-icon>
                </div>
                <div (click)="getBallStatus(i,j)" class="pointer" >
                  <mat-icon *ngIf="balls === 0" class="whiteBall">sports_baseball</mat-icon>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </form>
  <div fxLayout="row" fxFlex="50" fxFlex.xs="70" fxLayoutAlign="center end">
    <div fxLayout="column" fxFlex="9" fxFlex.xs="20" fxLayoutAlign="center center">
      <button [disabled]="currentRound !==1 && selectedBalls != balls" (click)="addReady()" class="next" mat-raised-button>Start Play</button>

    </div>
  </div>
</div>
