<div fxLayout="column" fxFlex="100">

  <div fxLayout="row" class="menu" fxFlex="100" fxLayoutAlign="space-between">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <div>
      <h1 class="magic">Magic Balls</h1>
    </div>
    <div fxLayout="row">
      <button class="menu" mat-icon-button color="none" aria-label="Example icon button with a menu icon">
        <mat-icon>login</mat-icon>
      </button>
      <button class="menu" mat-icon-button color="none" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
    <div fxLayout="column">
      <h1 class="help">Dashboard</h1>
    </div>
  </div>
  <div fxLayout="row" fxFlex="100" fxLayoutAlign="left center">
    <button (click)="updateProfile()" class="upgrade" mat-raised-button >Upgrade your account</button>
    <button class="archive" mat-raised-button>Metrics Archive</button>
    <button class="manual" mat-raised-button>Manual Delegate entry </button>
    <p fxLayoutAlign="center end">Name <br> <br> UserName<br> <br> Number of games facilitated <br> <br> Highest Score</p>
  </div>
  <div fxLayout="column" fxFlex="50" fxLayoutAlign="left center" >
    <button class="new" mat-raised-button>New Game</button>
  </div>
</div>
